name: Task 6

on:
  workflow_call:
    inputs:
      node-version:
        required: true
        type: string
      token:
        required: true
        type: string
jobs:
  install:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo
        uses: actions/checkout@v4
      - name: use node version
        uses: actions/setup-node@v4
        with:
          node-version: ${{ inputs.node-version }}
      - name: secret token
        if: inputs.token != ''
        run: echo "Secret received"
      - name: install dependencies
        run: npm ci