name: Task 15

on:
  workflow_dispatch:

jobs:
  deploy-prod:
    runs-on: ubuntu-latest
    if: github.ref_name == 'main'
    environment:
      name: production  
    steps:
    - name: Deploy
      run: echo "Deploying to production"

