name: Task 14

on:
  workflow_dispatch:
  
jobs:
  generate-matrix:
    runs-on: ubuntu-latest
    
    outputs:
      envs: ${{ steps.envs.outputs.envs }}

    steps:
      - name: Define Environment
        id: envs
        run: |
          echo 'envs=["dev", "staging", "prod"]' >> "$GITHUB_OUTPUT"
    
  deploy:
    runs-on: ubuntu-latest
    needs: generate-matrix
    strategy:
      matrix:
        envs: ${{ fromJson(needs.generate-matrix.outputs.envs) }}
    steps:
      - name: Environment
        run: echo "Deploying to ${{ matrix.envs }}"

